<h1>My tasks</h1>

<% @tasks.each do |task| %>
    <div class="task">
        <h4><%= link_to task.title, task_path(task.id)%></h4>
        <%= link_to "Delete", task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </div>
<% end %>

<%= link_to "New Task", new_task_path%>
